* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #050816;
  color: white;
  font-family: 'Consolas', monospace;
  min-height: 100vh;
  padding: 40px;

  background-image:
    radial-gradient(circle at top left, #1f1147, transparent 30%),
    radial-gradient(circle at bottom right, #0f3460, transparent 30%);
}

#root {
  width: 900px;
  margin: auto;

  background: rgba(10, 10, 20, 0.9);

  border: 2px solid #00f7ff;

  border-radius: 25px;

  padding: 40px;

  box-shadow:
    0 0 20px #00f7ff,
    0 0 50px rgba(0, 247, 255, 0.3);
}

h1 {
  text-align: center;
  font-size: 50px;
  margin-bottom: 40px;

  color: #00f7ff;

  text-shadow:
    0 0 10px #00f7ff,
    0 0 20px #00f7ff,
    0 0 40px #00f7ff;
}

h2 {
  margin-bottom: 30px;

  color: #ff00c8;

  text-shadow:
    0 0 10px #ff00c8,
    0 0 20px #ff00c8;
}

p {
  margin: 15px 0;
  padding: 18px;

  border-radius: 15px;

  background: rgba(255, 255, 255, 0.05);

  border: 1px solid rgba(0, 247, 255, 0.3);

  font-size: 19px;

  transition: 0.4s;
}

p:hover {
  transform: scale(1.03);

  border-color: #ff00c8;

  box-shadow:
    0 0 20px rgba(255, 0, 200, 0.4);
}

strong {
  display: block;
  margin-top: 30px;

  text-align: center;

  font-size: 28px;

  color: #00ff88;

  text-shadow:
    0 0 10px #00ff88,
    0 0 20px #00ff88;
}

.course-box {
  padding: 25px;
  margin-top: 30px;

  border-radius: 20px;

  border: 1px solid rgba(255, 255, 255, 0.08);

  background: rgba(255, 255, 255, 0.03);
}

button {
  background: transparent;

  border: 2px solid #00f7ff;

  color: #00f7ff;

  padding: 14px 24px;

  margin-top: 20px;

  font-size: 18px;

  border-radius: 12px;

  cursor: pointer;

  transition: 0.3s;
}

button:hover {
  background: #00f7ff;
  color: black;

  box-shadow:
    0 0 20px #00f7ff;
}

li {
  list-style: none;

  padding: 15px;
  margin: 12px 0;

  border-radius: 10px;

  border-left: 5px solid #ff00c8;

  background: rgba(255, 255, 255, 0.04);

  transition: 0.3s;
}

li:hover {
  transform: translateX(-10px);

  box-shadow:
    0 0 15px rgba(255, 0, 200, 0.4);
}